fastapi
uvicorn
pydantic-settings
sqlalchemy>=2.0.0
asyncpg
alembic
qdrant-client
langgraph
langchain-core
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
langsmith
langchainhub
langchain
cachetools==7.1.7
